$button_size: 60px;
$resizer_size: 10px;
$border: 1px solid black;
$toolbar_padding: 20px;

* {
    box-sizing: border-box;
}

.spreadsheet {
    position: absolute;

    div.toolbar {
        width: 100%;
        position: fixed;
        display: flex;
        background: #283593;
        color: #fff;
        padding: 0 $toolbar_padding;
        top: 0;
        z-index: 10;

        .options {
            display: flex;
        }

        .option {
            display: flex;
            align-items: center;
            margin: 0 $toolbar_padding / 2;
            user-select: none;
            h4 {
                margin: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .option.selected {
            background: red;
        }
    }

    div.border-top {
        position: absolute;
        border-bottom: $border;
    }

    div.border-left {
        position: absolute;
        border-right: $border;
    }

    div.border-corner {
        position: fixed;
        background: #000;
        z-index: 10;
    }

    div.table-row {
        display: flex;
    }

    textarea {
        width: 100%;
        height: 100%;
        background: #fff;
        resize: none;
        overflow: hidden;
        border: none;
        border-right: $border;
        border-bottom: $border;
    }

    div.border-top-element, div.border-left-element {
        display: flex;
        align-items: center;
        justify-content: center;

        h6 {
            margin: 0;
            padding: 0;
            user-select: none;
        }
    }

    %border-element {
        position: relative;
        overflow: visible;
        border-bottom: $border;
    }

    %border-resizer {
        position: absolute;
        background: black;
        z-index: 10;
        cursor: move;
    }

    div.border-left-element {
        @extend %border-element;
        background: yellow;
     
        .resizer {
            @extend %border-resizer;
            bottom: 0;
            width: 100%;
            height: $resizer_size;
            transform: translateY($resizer_size / 2);
        }
    }

    div.border-top-element {
        @extend %border-element;
        background: grey;

        .resizer {
            @extend %border-resizer;
            right: 0;
            height: 100%;
            width: $resizer_size;
            transform: translateX($resizer_size / 2);
        }
    }
}