* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.spreadsheet {
  position: absolute;
  background: grey;
}

.spreadsheet div.toolbar {
  width: 100%;
  height: 16px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #283593;
  color: #fff;
  padding: 0 20px;
  top: 0;
  z-index: 1000;
}

.spreadsheet div.toolbar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spreadsheet div.toolbar .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.spreadsheet div.toolbar .option h4 {
  margin: 0;
}

.spreadsheet div.toolbar .option:hover {
  cursor: pointer;
}

.spreadsheet div.toolbar .option.selected h4 {
  background: red;
}

.spreadsheet div.toolbar div.github-picker {
  position: absolute !important;
  top: 64px;
  left: 0;
}

.spreadsheet div.border-top {
  position: absolute;
  border-bottom: 1px solid black;
}

.spreadsheet div.border-left {
  position: absolute;
  border-right: 1px solid black;
}

.spreadsheet div.border-corner {
  position: fixed;
  background: #000;
  z-index: 10;
}

.spreadsheet div.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spreadsheet textarea {
  width: 100%;
  background: none;
  resize: none;
  border: none;
  padding: 10px;
}

.spreadsheet textarea:focus {
  outline: none;
}

.spreadsheet div.table-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border: 1px solid black;
  background: white;
  cursor: text;
}

.spreadsheet div.table-element.focused {
  border-color: #3e8ef7;
}

.spreadsheet div.border-top-element, .spreadsheet div.border-left-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spreadsheet div.border-top-element h6, .spreadsheet div.border-left-element h6 {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.spreadsheet div.border-left-element, .spreadsheet div.border-top-element {
  position: relative;
  overflow: visible;
  border-bottom: 1px solid black;
}

.spreadsheet div.border-left-element .resizer, .spreadsheet div.border-top-element .resizer {
  position: absolute;
  background: black;
  z-index: 10;
}

.spreadsheet div.border-left-element {
  background: yellow;
}

.spreadsheet div.border-left-element .resizer {
  bottom: 0;
  width: 100%;
  height: 10px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  cursor: row-resize;
}

.spreadsheet div.border-top-element {
  background: grey;
}

.spreadsheet div.border-top-element .resizer {
  right: 0;
  height: 100%;
  width: 10px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  cursor: col-resize;
}
/*# sourceMappingURL=spreadsheet.css.map */